<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BodyLab - Academia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="../views/index.html">BodyLab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="../views/sobre-nos.html">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/planos.html">Planos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/aulas.html">Aulas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contato.html">Entrar em Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/login.html">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/academia1.jpg" class="d-block w-100" alt="Academia 1">
            <div class="carousel-caption d-none d-md-block">
                <h3>Bem-vindo a BodyLab</h3>
                <p>Tranforme seu corpo conosco.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/academia2.jpg" class="d-block w-100" alt="academia2">
            <div class="carousel-caption d-none d-md-block">
                <h3>Equipamentos Modernos</h3>
                <p>O Melhor para o seu treino.</p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
  </div>

  <section class="container my-5">
    <h2 class="text-center mb-4">Depoimentos dos Clientes</h2>
    <div class="row">
        <div class="col-md-4">
            <blockquote class="blockquote">
                <p class="mb-0">"A BodyLab mudou minha vida!"</p>
                <footer class="blockquote-footer">Cliente 1</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote">
                <p class="mb-0">"Excelentes Profissionais e ambiente acolhedor."</p>
                <footer class="blockquote-footer">Cliente 2</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote">
              <p class="mb-0">"Resultados incríveis em pouco tempo."</p>
              <footer class="blockquote-footer">Cliente 3</footer>
            </blockquote>
    </div> 
    </div>
  </section>
  <footer class="bg-light text-center py-3">© 2024 Lucas Brito / BodyLab - Todos os direitos reservados.</footer>
    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>