<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a href="/index.html" class="navbar-brand">BodyLab</a>
        <button class="navbar-toggler" type="button" data-bs-toggler="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false"aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapser" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/sobre-nos.html" class="nav-link">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a href="/planos.html" class="nav-link">Planos</a>
                </li>
                <li class="nav-item">
                    <a href="/aulas.html" class="nav-link">Aulas</a>
                </li>
                <li class="nav-item">
                    <a href="/contato.html" class="nav-link">Entrar em Contato</a>
                </li>
                <li class="nav-item">
                    <a href="/login.html" class="nav-link">Login</a>
                </li>
            </ul>
         </div>
    </div>
</nav>